.button{
  -fx-background-color: linear-gradient(to right, #8e2de2, #4a00e0);
  -fx-text-fill:white;
  -fx-font-size:16px;
  -fx-background-radius: 100%;
  -fx-effect: dropshadow(three-pass-box, black, 5, 0, 0, 0 );
}
#addButton , #subButton{
-fx-pref-width: 35px;
}